/*
============
Variables
============
*/

:root {
  --primary-1: #5b3699;
  --primary-2: #ed5278;
  --primary-3: #ff845f;
  --primary-4: #f9f871;
  --white: #fff;
  --black: --#222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
==============
Global Styles
==============
*/

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
